{% extends 'base.html.twig' %}

{% block title %}compositions musicales{% endblock %}

{% block body %}

<div class="texte">

    <header class="page-header">
        <h1 class="page-title">
            compositions musicales
        </h1>
    </header>

    <p class="alert alert-warning">
        liste des compositions momentanément vidée (mes compos actuelles ne sont pas présentables, cette liste sera mise à jour plus tard)
    </p>

{#
    {% for compo in compos %}
        <a href="{{path('compos_show', {'slug' : compo.slug})}}" style="margin-bottom : 2em; display : block;">
            <div class="text-center nomCompo">
                {{ compo.name }}
                <audio controls src="{{compo.url}}" style="width:100%" class="mt-3 mb-2" controlsList="nodownload">
                </audio>
            </div>
        </a>
    {% endfor %}
#}

{% if is_granted('ROLE_ADMIN') %}
    <p class="text-center mt-4">
        <a href="{{path("compos_create")}}" class="btn btn-primary">Ajouter une compo</a>
    </p>
{% endif %}

    {% include "partials/pagination.html.twig" with {"route" : "compos"} %}

    <hr class="my-4">

</div>

{% endblock %}
