.navbar-brand > img
{
    margin-right : 4px;
}
.navbar-brand
{
    font-family : 'Times New Roman', Times, serif !important;
}
.titreNavbar
{
    position : relative;
    top : 5px;
}
.recipientBulle
{
    width : 75% !important;
    margin : auto;
    margin-bottom : 1.5em;
    margin-top : 1.5em;
}
.bulle
{
    width : 100% !important;
}
.rowRecipient
{
    margin : auto !important;
    float : none;
    width : 67% !important;
}
.recipientRecipient
{
    /*margin : auto !important;
    float : none;*/
    min-width : 50%;
}
@media all and (max-width : 768px)
{
    .rowRecipient
    {
        margin : auto !important;
        float : none;
        width: 100% !important;
        min-width : 100% !important;
    }
    .recipientRecipient
    {
        min-width : 100%;
    }
}
.categorieImg
{
    max-width : 50% !important;
    display : block !important;
    margin : auto !important;
}
.categorieA
{
    text-align: center !important;
    margin : auto !important;
    margin-bottom : 0em !important;
    padding-bottom : 0em !important;
}
.categorieSpan
{
    display : block !important;
    text-align: center !important;
    margin : auto !important;
}
.categorieDiv
{
    margin-bottom : 4em !important;
}
.pFooterRight
{
    margin-right : 3em !important;
}
.btnRetour
{
    width: fit-content;
    display : block;
    margin : auto !important;
}
.imgDessin
{
    margin-bottom : 2em !important;
}
.aImgTexteIndex
{
    display : block !important;
    width : 60% !important;
    margin : auto !important;
    margin-top : 2em !important;
    margin-bottom : 2em !important;
}
.aImgTexteIndex > img
{
    width : 100% !important;
}
table
{
    width : 100% !important;
}
.table tr:nth-child(odd)
{
    background : #ddd3d7 !important;
}
.table tr:nth-child(even)
{
    background : #eee3e7 !important;
}
.table-white tr
{
    background : #fff !important;
    border-top : 1px solid #eee !important;
    border-bottom : 1px solid #eee !important;
}
.nomCompo
{
    font-size : 1.3em;
}
.cardMaison
{
    background : #fff9e0 !important;
    margin : 1em;
    margin-right : 0.1em;
    margin-left : 0.1em;
    border-radius: 1em;
    padding : 1.5em;
}
a.card
{
    display : block;
}
a table
{
    color : black !important;
}
.texte
{
    max-width : 720px;
    text-align : justify;
    margin : auto;
}
.boutonForm
{
    margin : auto;
    display : block;
    width : fit-content;
    margin-bottom : 2em;
    margin-top : 2em;
}
.col11Forcing
{
    width : 90% !important;
}
.col1Forcing
{
    width : 10% !important;
    max-width : 10% !important;
}