{% extends 'base.html.twig' %}

{% block title %}modifier texte{% endblock %}

{% block body %}

<h2 class="mb-4">
    modifier texte
</h2>

<p>
    image : {{ image }}
</p>

{{ form(form) }}

{% endblock %}