{% extends 'base.html.twig' %}

{% block title %}photos{% endblock %}

{% block body %}

<header class="page-header">
    <h1 class="page-title">
        mes photos
    </h1>
</header>

<div class="row" id="gride">
    {% for photo in photos %}
        {% set url = path('photo_show', {'slug' : photo.slug}) %}
        {% if loop.index0 % 3 == 0 %}
            </div>
            <div class="row">
        {% endif %}
        <a href="{{url}}" class="col-sm-4">
            <img src="{{photo.url}}" alt="dessin" style="width : 100%;" class="imgDessin">
        </a>
    {% endfor %}
</div>

<hr class="my-5">

{#<p class="text-center my-5">
    <a href="{{path("photo_new")}}" class="btn btn-primary mr-3">Ajouter une photo</a>
    <a href="{{path("photos_categories")}}" class="ml-3 btn btn-primary">Voir les catégories</a>
</p>

<hr class="my-5">#}

{% endblock %}
